body {
	background: #FEFCD9;
	margin:1em;
	padding: 1em;
}

h1 {
	background: #9DBF4D;
	border: 1px solid black;
	text-align: center;
	margin: 5px auto;
}



#image {
	border: 1px solid black;
	height: 40vh;
	margin: 4vh;
	background-size: cover;
	background-repeat: no-repeat;
}

#texto {
	text-align: center;
	font-size: 1.5em;
	margin: auto;
	margin-top: -1em;
}
